*{
    margin: 0;
    padding: 0;
    /* font-family: 'Squada One', cursive; */
    font-family: 'Fugaz One', cursive;

}

body{
    width: 100%;
    height: 100%;
    background-color: rgba(3, 3, 3, 0.699);
    /* display: fixed; */
}
.one{
    width: 100%;
    height: 100%;

}
.row{
    margin: 5%;
    display: flex;
    justify-content: space-between;

}

.first_Img-left{
    margin-left: 80px;
    width: 460px;
    height: 460px;
    background-color: crimson;
    border-radius: 30px;
    /* flex-basis: 65%; */
    /* border-bottom-right-radius: 30px;
    border-top-right-radius: 30px; */

 
}

.first_Img-left img{


    width: 430px;
    flex-basis: 32%;
    /* width: 100%; */
    height: 430px;
    border-radius: 30px;

}
.name_holder-right{
    flex-basis: 50%;
    align-items: right;
}
.name_holder-right h1{     
    color: white;
    text-align: center;
    font-size: 45px;
    margin-bottom: 30px;
}
.name_holder-right a{
    color: white;
    text-align: center;
    font-size: 30px;
    margin-left: 145px;
    margin-bottom: 30px;

}

.name_holder-right h2{
    background-color: black;
    color: white;
    text-align: center;
    padding: 7px 0;
    border-radius: 90px;
    margin-top: 30px;
}
.name_holder-right p{
    color: white;
    text-align: center;
    padding: 7px 0;
    font-size: 20px;
}

.name_holder-right h3{
    color: white;
    text-align: center;
    margin-top: 50px;
}
.achievements{
    width: 80%;
margin: auto;
text-align: center;
padding-top: 50px;
}

.achieve-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.achieve-col img{
    width: 100%;
    display: block;
}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.layer:hover{
    background: rgba(226, 0, 0, 0.7);
}
.layer h3{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.layer:hover h3{
    bottom: 49%;
    opacity: 1;

}

.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
    background-color: black;
}

.footer h4{
    /* margin-bottom: 25px; */
    margin-top: 20px;
    font-weight: 600;
    color: #fff;
}
.footer p{
    color: #fff;
}
.icons {
    margin: 30px auto;
    text-align: center;
 
 }
 .footer img{
    cursor: pointer;
    border-radius: 50%;
    width: 20px;
 }
 .icons p{
  text-align: initial;
  color: #fff;
 }
.icons img{
    color: #f44336;
     
    /* margin: 0 13px; */
    cursor: pointer;
    /* padding: 18px 0; */
    border-radius: 50%;
    width: 20px;
    align-items: initial;
    /* margin:0 12px; */
    /* box-shadow: 0 0 20px 0 #7f7f7f3d; */
    /* cursor: pointer; */
    /* border-radius: 50%; */
}
@media (max-width:700px) {
    
    .first_Img-left img{
        width: 200px;
        height: 200px;
        margin-left: 0px;
    }
    .first_Img-left{
        width: 230px;
        height: 230px;
        margin-left: 60px;
    }
    .name_holder-right{
     /* margin-top: 200px; */
     flex-basis: 0%;
     align-items: left;
     
    }
    .row{
        display: inherit;

    }
    .name_holder-right h1{
        font-size: 25px;
        margin-bottom:0px;
    }
    .name_holder-right a{
        font-size: 20px;
        align-items: center;
        /* flex-basis: 70%; */
        margin-left: 70px;
    }
    .footer{
        width: 100%;
    }


}
